aiodns==4.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
ccxt==4.5.51
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
coincurve==21.0.0
cryptography==47.0.0
frozenlist==1.8.0
idna==3.13
llvmlite==0.44.0
multidict==6.7.1
narwhals==2.20.0
numba==0.61.2
numpy==2.2.6
packaging==26.2
pandas==3.0.2
pandas-ta==0.4.71b0
pip==24.3.1
plotly==6.7.0
propcache==0.4.1
pycares==5.0.1
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.33.1
setuptools==80.9.0
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.45.1
yarl==1.23.0
